<div class="chat-member" (click)="navigate()">

  <div class="member-info">
    <div class="avatar">
      <img [src]="member.imageUrl" alt="img">
    </div>

    <div class="wrap">
      <div class="name-and-message-prev">
        <span class="name">{{member.name}}</span>
        <br>
           <span class="message-prev">
              {{cutMessage(member.history[member.history.length-1].message)}}
          </span>
      </div>
      <span class="date">{{member.history[member.history.length-1].messageTime.date}}</span>
    </div>

  </div>

</div>
